#忽略静态仓库和资源仓库
/ap_static_data/
/ap_assets/


#忽略vs相关文件
/.vs/


#Assets内忽略文件
/Assets/StreamingAssets/
/Assets/.lpproj/
/Assets/XLua/Gen/*.meta

#product内忽略文件
/Product/Lua/UserDefault.lua
/Product/Bundles/
/Product/Apps
/Product/**/*.meta

#ap内忽略文件
/Library/
/Logs/
/obj/
/Temp/
/*.vbs
/*.csproj
/*.sln


#其他忽略文件
/.build/
/build_tools/cdn



.DS_Store
#Assets/Test.cs
#Assets/Test.cs.meta
#Assets/Test.unity
#Assets/Test.unity.meta
Product/Lua/.vscode
Product/Lua/.vscode/launch.json
*.pyc
Build/Assets/StreamingAssets/Setting
Build/Assets/StreamingAssets/Lua
Build/Assets/StreamingAssets/Bundles/Android
Build/ossutil_output
Build/bugly/buglybin
UserSettings/
Assets/Assets.index.meta
*.vsconfig
Build
.~*
